@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap";
/* Default Scrollbars*/
.sideNav::-webkit-scrollbar,
.bootstrap-select .dropdown-menu::-webkit-scrollbar,
.bootstrap-select .inner::-webkit-scrollbar,
.CodeMirror *::-webkit-scrollbar,
.form-group select.form-control::-webkit-scrollbar,
.form-group textarea.form-control::-webkit-scrollbar,
.mce-content-body::-webkit-scrollbar,
.picker__holder::-webkit-scrollbar,
.well::-webkit-scrollbar,
.select-dropdown::-webkit-scrollbar,
div.table-responsive::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 0.5em;
}

.sideNav::-webkit-scrollbar-track,
.bootstrap-select .dropdown-menu::-webkit-scrollbar-track,
.bootstrap-select .inner::-webkit-scrollbar-track,
.CodeMirror *::-webkit-scrollbar-track,
.form-group select.form-control::-webkit-scrollbar-track,
.form-group textarea.form-control::-webkit-scrollbar-track,
.mce-content-body::-webkit-scrollbar-track,
.picker__holder::-webkit-scrollbar-track,
.well::-webkit-scrollbar-track,
.select-dropdown::-webkit-scrollbar-track,
div.table-responsive::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    /*border-radius: 40px;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sideNav::-webkit-scrollbar-thumb,
.bootstrap-select .dropdown-menu::-webkit-scrollbar-thumb,
.bootstrap-select .inner::-webkit-scrollbar-thumb,
.CodeMirror *::-webkit-scrollbar-thumb,
.form-group select.form-control::-webkit-scrollbar-thumb,
.form-group textarea.form-control::-webkit-scrollbar-thumb,
.mce-content-body::-webkit-scrollbar-thumb,
.picker__holder::-webkit-scrollbar-thumb,
.well::-webkit-scrollbar-thumb,
.select-dropdown::-webkit-scrollbar-thumb,
div.table-responsive::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    /*border-radius: 40px;*/
    background-color: #888;
    outline: 1px solid slategrey;
}

body {
    animation: 1 0.8s fadeIn;
}

* {
    font-family: 'Roboto', sans-serif;
}

.logo {
    height: 32px;
    width: auto;
}

/* Login Page */
.bg-white-transparent {
    background: rgba(255, 255, 255, 0.85);
}

#intro {
    background-image: url(../image/ninja-store-design/ice-mountaine-night-stars.jpg);
    height: 100vh;
}
.hidden {
    display: none !important;
}
/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #intro {
        margin-top: -58.59px;
    }
}

#prelogged-admin-navbar .navbar .nav-link {
    color: #fff !important;
}

#prelogged-admin-navbar {
    z-index: 2000;
}

.navbar-brand + .navbar-nav.user-menu {
    justify-content: flex-end;
}

.fa-2x {
    font-size: 20px;
}

.note-sm {
    font-size: 12px !important;
}
.btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0 0 0 0;
}
.btn-circle .fa {
    font-size: 24px;
}
#content {
    width: 100%;
}
#btn_tools_panel {
    position: fixed;
    right: 10px;
    top: 70px;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tool-panel.floating {
    visibility: hidden;
    position: fixed;
    right: 80px;
    top: 70px;
    z-index: 9;
    opacity: 0;
    transform: rotate(-90deg) translateX(300px);
    transition: 0.4s all;
    padding: 8px;
    border-radius: 8px;
    width: auto;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
}
.tool-panel.floating.active {
    background-color: rgba(255,255,255,0.9);
    opacity: 1;
    visibility: visible;
    transform: rotate(0deg) translateX(0px);
    transition: 0.4s all;
}
.ticket-comment {
    overflow: hidden;
}
[id^="filter"] .card-header {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    position: relative;
}
[id^="filter"] .card-header #btn-filter-collapse {
    position: absolute;
    right: -15px;
    top: -15px;
}
.card-body {
    overflow: hidden;
    height: auto;
    transition: 0.4s height;
}
.card-body.collapsed {
    height: 0;
    transition: 0.4s height;
}
.input-group .input-group-addon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-group .input-group-addon img {
    margin-right: 4px;
}
#column-left {
    position: fixed;
    left: -300px;
    overflow-y: scroll;
    z-index: 999;
    top: 0;
    width: 300px;
    height: 100vh;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.4);
    transition: 0.4s all;
}

#column-left.active {
    left: 0;
    transition: 0.4s all;
}

.card {
    margin: 10px;
}
h5.card-title {
    margin-bottom: 0;
}
.card.tile {
    position: relative;
    padding: 10px 20px;
}

.card.tile .card-icon-rect {
    position: absolute;
    left: -20px;
    top: -20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c9c9c9;
    border-radius: 50%;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4)
}

.card.tile .card-icon-rect .fa {
    font-size: 22px;
}

#btn-main-menu {
    cursor: pointer;
}

.card-deck {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.classic-admin-card.project-card > * {
    color: rgba(0, 0, 0, 0.8);
}

.classic-admin-card.project-card > *:hover {
    color: rgba(0, 0, 0, 1);

}

.classic-admin-card.project-card:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
}

.classic-admin-card.project-card {
    position: relative;
    padding: 5px;
}

.classic-admin-card.project-card .btn-edit .fa {
    font-size: 18px;
    color: #fff;
}

.classic-admin-card.project-card .btn-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
}

.avatar.avatar-sm {
    border-radius: 50%;
    width: 40px;
    height: 40px;

}

.btn.btn-floating.circle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tool-panel {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tool-panel .btn {
    margin: 5px;
}

#content {
    padding-top: 60px;
}

.support-color-preview {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.card .project-check {
    position: absolute;
    left: 10px;
    top: 10px;
}

.timeline .html-container,
.timeline .html-container > ul::before,
.timeline .html-container > ul > *::before {
    content: normal !important;
    font-size: 12px !important;
}

.timeline .html-container img {
    width: 100%;
    height: auto;
}

.timeline ul {
    padding: 1em 0 0 2em;
    margin: 0;
    list-style: none;
    position: relative;
    z-index: 1;
}

.timeline ul::before {
    content: ' ';
    height: 100%;
    width: 1px;
    background-color: #d9d9d9;
    position: absolute;
    top: 0;
    left: 2.5em;
    z-index: 0;
}

.timeline li {
    list-style: none;
}

.timeline li div {
    display: inline-block;
    margin: 1em 0;
    vertical-align: top;
    z-index: 2;
    list-style: none;
}

.timeline .bullet {
    position: absolute;
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    margin-right: 1em;
}

.timeline .bullet.pink {
    border: 2px solid #F93B69;
}

.timeline .bullet.green {
    border: 2px solid #B0E8E2;
}

.timeline .bullet.orange {
    border: 2px solid #EB8B6E;
}

.timeline .time {
    width: 20%;
    font-size: 0.75em;
    padding-top: 0.25em;
    padding-left: 60px;
}

.timeline .desc {
    width: 50%;
}

.timeline h3 {
    font-size: 0.9em;
    font-weight: 400;
    margin: 0;
}

.timeline h4 {
    margin: 0;
    font-size: 0.7em;
    font-weight: 400;
    color: #808080;
}

.timeline .people img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#heatmap {
    display: flex;
    justify-content: center;
    align-items: center;
}

#heatmap rect.day {
    cursor: pointer;
}

#heatmap rect.day[data-value='0'] {
    cursor: default !important;
}

@media (min-width: 1200px) {
    #heatmap .frappe-chart.chart {
        transform: scale(1.22);
    }
}

.tinymce-mobile-mask-tap-icon {
    transform: scale(2);
    animation: infinite 3s ease-in-out pulse;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.rare-wind-gradient {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#a8edea), to(#fed6e3));
    background-image: -webkit-linear-gradient(bottom, #a8edea 0%, #fed6e3 100%);
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

#chat-wrapper .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.avatar-latest-comments {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

.icon-private-repo {
    position: absolute;
    bottom: 62px;
    right: 5px;
    opacity: 0.7;
    transform: rotate(-30deg);
}

.fade-out {
    animation: 1 1s ease-in fadeOut;
}

#filemanager .fa.fa-folder.fa-5x {
    font-size: 162px;
}

.table-tickets tbody tr:hover td:nth-child(3) a {
    color: #000;
}

.modal-fluid {
    width: 95%;
    max-width: 95%;
}

#gantModal .modal-fluid .modal-header {
    padding-bottom: 15px;
}

#gantModal .close {
    font-size: 22px;
}

#gantModal .modal-body {
    max-height: 78vh;
    overflow: auto;
}

.gant-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gant-buttons .btn-floating {
    margin-top: 0;
    margin-bottom: 0;
}

.gantt .bar-label {
    fill: #000;
    font-size: 14px;
    font-weight: normal;
}

.modal-gant-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pos-relative {
    position: relative;
}

.ticket-time-info {
    position: absolute;
    right: 0px;
    top: 0px;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.preloader img {
    width: 64px;
    height: 64px;
}

.preloader.show {
    animation: 0.6s fadeIn 1;
}

.preloader.hide {
    animation: 0.6s fadeOut 1;
}

#btn_gant {
    min-width: 320px !important;
}

.badge.round-sm {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket-category-color {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
}

.w60px {
    width: 60px;
}

.badge.ticket-info {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    color: var(--white-color);
}

#btn-complete-task,
#btn-start-task {
    position: absolute;
    top: -54px;
    right: 4px;
}

.input-group .btn {
    margin-top: -4px;
}

.checkbox input[type="checkbox"] {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

.checkbox input[type="checkbox"] + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.checkbox input[type="checkbox"] + label::before,
.checkbox input[type="checkbox"] + label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.checkbox input[type="checkbox"]:not(.filled-in):checked + label::before,
.checkbox input[type="checkbox"]:not(.filled-in):checked + label::after {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #5264AE;
    border-bottom: 2px solid #5264AE;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.radio-inline,
.radio {
    cursor: pointer;
    margin-right: 6px;
}

.radio-inline input[type="radio"],
.radio input[type="radio"] {
    position: relative;
    margin: 0 1rem 0 0;
    cursor: pointer;
}

.radio-inline input[type="radio"]:before,
.radio input[type="radio"]:before {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    content: "";
    position: absolute;
    top: 0;
    left: 0.125rem;
    z-index: 1;
    width: 14px;
    height: 14px;
    background: #16a085;
    border-radius: 50%;
}

.radio-inline input[type="radio"]:checked:before,
.radio input[type="radio"]:checked:before {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio-inline input[type="radio"]:after,
.radio input[type="radio"]:after {
    content: "";
    position: absolute;
    top: -0.25rem;
    left: -0.125rem;
    width: 22px;
    height: 22px;
    background: #fff;
    border: 2px solid #c9c9c9;
    border-radius: 50%;
}
/* Desktop */
#column-left {
    width: 235px;
    height: 100%;
    overflow: auto;
    background-color: #242d37;
    position: fixed;
    top: 0;
    left: -235px;
    padding-top: 60px;
    z-index: 0;
}
#column-left::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(200,200,200,0);
}
#column-left::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(128,139,156,0.2);
}
#content {
    padding-bottom: 40px;
}
#column-left, #content, #footer {
    transition: all 0.3s;
}
#column-left + #content, #column-left + #content + #footer {
    position: relative;
    left: 0px;
}
#column-left {
    z-index: 999;
}
/* Navigation */
#navigation {
    text-transform: uppercase;
    padding: 15px 15px 15px 15px;
    color: #FFFFFF;
    background: #19222E;
    display: block;
}

/* Menu */
#menu, #menu ul, #menu li {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu {
    margin-bottom: 25px;
}
#stats ul li {
    color: #fff;
    margin-left: -20px;
    margin-right: 20px;
    font-size: 12px;
}
#stats ul {
    list-style: none;
}
#menu li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    cursor: pointer;
    border-bottom: 0px solid #515151;
    font-size: 14px;
}
#menu li a.parent:after {
    font-family: FontAwesome;
    float: right;
    margin-right: 8px;
}
#menu li a.parent:after {
    content: "\f105";
    transform: rotate(90deg);
    transition: var(--default-transition-time) transform;
}
#menu li a.collapsed:after {
    content: "\f105";
    transform: rotate(0deg);
    transition: var(--default-transition-time) transform;
}
/* 1st lvl */
#menu a {
    font-size: 13px;
}
#menu > li {
    position: relative;
    border-bottom: 1px solid #2b3642;
}
#menu > li > a {
    font-size: 13px;
    color: #b3cbdd;
    padding-left: 20px;
    border-bottom: 0px solid #585858;
}
#menu > li > a:hover {
    background-color: #444444;
}
#menu > li > a > i {
    font-size: 16px;
    width: 18px;
    margin-right: 5px;
}
#menu > li.active > a {
    color: #0b91d2;
    background-color: #171b21;
}
#stats,
#column-left,
#menu,
#menu > li,
#menu > li > ul {
    background-color: #293141;
}
/* 2nd lvl */
#menu li li a {
    font-size: 13px;
    color: #7f8a9b;
}
#menu li li a:before {
    content: "\f101";
    font-size: 12px;
    font-family: FontAwesome;
    margin-left: 10px;
    margin-right: 10px;
    transition: margin ease var(--default-transition-time);
}
#menu li li a:hover:before {
    margin-right: 20px;
}
#menu li li a:hover {
    color: #FFFFFF;
    background-color: #242d37;
}
#menu li li.active > a {
    color: #0b91d2;
    background-color: #242d37;
}
#menu li ul a {
    padding-left: 20px;
}
#menu li li ul a {
    padding-left: 40px;
}
#menu li li li ul a {
    padding-left: 60px;
}
#menu li li li li ul a {
    padding-left: 80px;
}
@media (max-width: 768px) {
    #btn_tools_panel {
        display: block;
        visibility: visible;
        position: fixed;
        top: 50px;
        right: 1px;
        z-index: 11;
    }

    .tools-panel.mobile {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        right: 80px;
        top: 60px;
        width: 120px;
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-wrap: wrap;
        z-index: 10;
        animation: 1 0.5s ease-in scaleOutAndRotate;
    }

    .tools-panel.mobile.visible {
        visibility: visible;
        opacity: 1;
        animation: 1 0.5s ease-out scaleInAndRotate;
    }

    .navbar-brand {
        position: absolute;
        left: 0px;
    }

    #heatmap {
        display: block;
        width: 100%;
        overflow-x: scroll;
        height: 355px;
    }

    #heatmap .frappe-chart.chart {
        position: relative;
        left: 330px;
        top: 50px;
        width: 850px;
        transform: scale(1.9);
    }

    .modal-gant-inner {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .modal-gant-inner h5.modal-title {
        width: 100%;
        text-align: center;
    }

    .modal-gant-inner .gant-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100% !important;
    }

    .flex-wrap-mobile {
        flex-wrap: wrap;
    }

    .tickets-card-header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .tickets-filter-buttons {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        height: auto;
    }

    .ticket-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    #btn-complete-task,
    #btn-start-task {
        top: -6px;
        right: -7px;
    }

    /* Useful utilities that must moves to Monsters Material Bootstrap */
    .hidden-xs, .hidden-sm {
        display: none;
        visibility: hidden;
    }
}

@media (min-width: 1000px) {
    #btn_gant {
        min-width: 320px !important;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}