@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
	--default-transition-time: 0.6s;
}
h1,h2,h3,h4,h5,h6,p,div,li,a,button {
	font-family: 'Roboto', sans-serif;
}
body {
	animation: 1 1s fadeIn;
}
table thead tr td,
table tfoot tr td {
	font-weight: bold;
}
table thead tr td:last-child .btn {
	margin: 0 !important;
	width: 30px;
	height: 30px;
}

.fw {
	width: 100%;
}
.fh {
	height: 100%;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-v-between {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.flex-v-center {
	display: flex;
	align-items: center;
}
.white-text {
	color: #fff !important;
}
a {
	cursor: pointer;
}
a:hover, a:focus {
	text-decoration: none;
}
nav.navbar.sticky-top {
	z-index: 99;
}
nav.navbar .navbar-nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: nowrap;
}
.dropdown-menu a {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap !important;
}
.dropdown-menu a .fa {
	margin-right: 5px;
}
.logo {
	margin-top: -7px;
	height: 40px;
	width: auto;
}
.navbar-brand {
	position: absolute;
	left: 0px;
}
.user-menu {
	position: absolute;
	right: 10px;
	min-width: 150px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
}
.user-menu li:first-child {
	margin-right: 10px;
}
.avatar-circle {
	border-radius: 50%;
	width: 30px;
	height: 30px;
}

.panel h3 {
	margin-bottom: -5px;
}
.panel-default {
	margin-bottom: 15px;
}
.panel-title .fa {
	margin-right: 7px;
}
#button-menu {
	margin-right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Desktop */
#column-left {
	width: 235px;
	height: 100%;
	overflow: auto;
	background-color: #242d37;
	position: fixed;
	top: 0;
	left: -235px;
	padding-top: 60px;
	z-index: 0;
}
#column-left::-webkit-scrollbar {
	width: 10px;
	background-color: rgba(200,200,200,0);
}
#column-left::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(128,139,156,0.2);
}
#content {
	padding-bottom: 40px;
}
#column-left, #content, #footer {
	transition: all 0.3s;
}
#column-left + #content, #column-left + #content + #footer {
	position: relative;
	left: 0px;
}
#column-left.active {
	left: 0px;
}
#column-left.active + #content, #column-left.active + #content + #footer {
	left: 0px;
	margin-left: 235px;
}

/* Navigation */
#navigation {
	text-transform: uppercase;
	padding: 15px 15px 15px 15px;
	color: #FFFFFF;
	background: #19222E;
	display: block;
}

/* Menu */
#menu, #menu ul, #menu li {
	padding: 0;
	margin: 0;
	list-style: none;
}
#menu {
	margin-bottom: 25px;
}
#menu li a {
	text-decoration: none;
	display: block;
	padding: 10px;
	cursor: pointer;
	border-bottom: 0px solid #515151;
	font-size: 14px;
}
#menu li a.parent:after {
	font-family: FontAwesome;
	float: right;
	margin-right: 8px;
}
#menu li a.parent:after {
	content: "\f105";
	transform: rotate(90deg);
	transition: var(--default-transition-time) transform;
}
#menu li a.collapsed:after {
	content: "\f105";
	transform: rotate(0deg);
	transition: var(--default-transition-time) transform;
}
/* 1st lvl */
#menu a {
	font-size: 13px;
}
#menu > li {
	position: relative;
	border-bottom: 1px solid #2b3642;
}
#menu > li > a {
	font-size: 13px;
	color: #b3cbdd;
	padding-left: 20px;
	border-bottom: 0px solid #585858;
}
#menu > li > a:hover {
	background-color: #444444;
}
#menu > li > a > i {
	font-size: 16px;
	width: 18px;
	margin-right: 5px;
}
#menu > li.active > a {
	color: #0b91d2;
	background-color: #171b21;
}
#menu > li > ul {
	background-color: #293141;
}
/* 2nd lvl */
#menu li li a {
	font-size: 13px;
	color: #7f8a9b;
}
#menu li li a:before {
	content: "\f101";
	font-size: 12px;
	font-family: FontAwesome;
	margin-left: 10px;
	margin-right: 10px;
	transition: margin ease var(--default-transition-time);
}
#menu li li a:hover:before {
	margin-right: 20px;
}
#menu li li a:hover {
	color: #FFFFFF;
	background-color: #242d37;
}
#menu li li.active > a {
	color: #0b91d2;
	background-color: #242d37;
}
#menu li ul a {
	padding-left: 20px;
}
#menu li li ul a {
	padding-left: 40px;
}
#menu li li li ul a {
	padding-left: 60px;
}
#menu li li li li ul a {
	padding-left: 80px;
}

/* footer */
#footer {
	height: 100px;
	text-align: center;
}
.page-header {
	vertical-align: middle;
	margin: 20px 0 15px 0;
	padding: 0;
	border-bottom: 1px solid #e9e9e9;
}
.page-header h1 {
	font-weight: 300;
	font-size: 30px;
	color: #4c4d5a;
	display: inline-block;
	margin-bottom: 15px;
	text-shadow: 0 1px #fff;
	max-width: 90%;
}
.breadcrumb {
	/*position: absolute;*/
	display: inline-block;
	background: none;
	margin: 8px 0 19px 0;
	padding: 0 10px;
	border-radius: 0;
	width: 100%;
	z-index: 0;
}
.breadcrumb li {
	display: inline-block;
}
.breadcrumb li.active a {
	color: #000;
}
.breadcrumb li a {
	color: #999999;
	font-size: 14px;
	padding: 0px;
	margin: 0px;
}
.breadcrumb li a:hover {
	text-decoration: none;
	color: var(--black-color);
	transition: var(--default-transition-time) color;
}
.breadcrumb li + li:before {
	content: "\f105";
	font-family: FontAwesome;
	color: #BBBBBB;
	padding: 0 5px;
	font-size: 10px;
}

.table thead td span[data-toggle="tooltip"]:after, label.control-label span:after {
	font-family: FontAwesome;
	color: #1E91CF;
	content: "\f059";
	margin-left: 4px;
}
table td p small {
	margin-top: -10px;
}
fieldset legend {
	padding-bottom: 5px;
}

/* Tiles */
.card.tile {
	position: relative;
	z-index: 0;
	margin: 30px 0 15px 0;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	padding: 0;
}
.card.tile .card-title {
	margin: 0 0 0 70px;
	font-size: 1.2rem;
}
.card.tile .card-icon-rect {
	position: absolute;
	left: 10px;
	top: -30px;
	z-index: 1;
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--default-color);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.card.tile .card-icon-rect i {
	font-size: 38px;
	color: var(--white-color);
}
.card.tile .progress {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba(200,200,200,0.3);
}
.card.tile .card-footer a {
	text-transform: uppercase;
	transition: var(--default-transition-time) all;
}
#stats {
	border-radius: 2px;
	color: #808b9c;
	background: #2e3a47;
	margin: 15px 20px 40px 20px;
	padding: 5px 0;
}
#stats ul, #stats li {
	padding: 0;
	margin: 0;
	list-style: none;
}
#stats li {
	font-size: 11px;
	color: #9d9d9d;
	padding: 5px 10px;
	border-bottom: 1px dotted #373737;
}
#stats div:first-child {
	margin-bottom: 4px;
}
#stats .progress {
	height: 3px;
	margin-bottom: 0;
}
.jqvmap-label {
	z-index: 999;
}
.tile,
.shadow-default {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.table tr td .checkbox {
	margin: -5px 0 0 2px;
}
.table .input-group-btn button.btn-floating {
	position: relative;
	left: 5px;
	top: 2px;
}
.checkbox label {
	cursor: pointer;
}
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.5);
	z-index: 9999;
}
.preloader img {
	width: 64px;
	height: 64px;
}
.preloader.show {
	animation: 0.6s fadeIn 1;
}
.preloader.hide {
	animation: 0.6s fadeOut 1;
}
.tools-panel {
	display: flex;
	align-items: center;
	height: 100%;
	position: static;
}
.tools-panel.fixed {
	position: fixed;
	top: 9px;
	right: 215px;
	z-index: 1031;
	height: 40px;
	animation: 1 1s fadeIn;
}
.modal-header .close {
	position: absolute;
	right: 10px;
	top: 10px;
	transition: linear calc(var(--default-transition-time) / 2) transform;
}
.modal-header .close:hover {
	transform: rotate(90deg);
	transition: linear calc(var(--default-transition-time) / 2) transform;
}
.date-heading {
	position: absolute;
	right: 10px;
	top: 10px;
}
.date-heading h3 {
	display: inline-block;
}
.timeline .html-container,
.timeline .html-container > ul::before,
.timeline .html-container > ul > *::before {
	content: normal !important;
	font-size: 12px !important;
}
.timeline .html-container img {
	width: 100%;
	height: auto;
}

.timeline ul {
	padding: 1em 0 0 2em;
	margin: 0;
	list-style: none;
	position: relative;
	z-index: 1;
}
.timeline ul::before {
	content: ' ';
	height: 100%;
	width: 1px;
	background-color: #d9d9d9;
	position: absolute;
	top: 0;
	left: 2.5em;
	z-index: 0;
}
.timeline li {
	list-style: none;
}
.timeline li div {
	display: inline-block;
	margin: 1em 0;
	vertical-align: top;
	z-index: 2;
	list-style: none;
}
.timeline .bullet {
	position: absolute;
	width: 1em;
	height: 1em;
	box-sizing: border-box;
	border-radius: 50%;
	background: #fff;
	z-index: 2;
	margin-right: 1em;
}
.timeline .bullet.pink {
	border: 2px solid #F93B69;
}
.timeline .bullet.green {
	border: 2px solid #B0E8E2;
}
.timeline .bullet.orange {
	border: 2px solid #EB8B6E;
}
.timeline .time {
	width: 20%;
	font-size: 0.75em;
	padding-top: 0.25em;
	padding-left: 60px;
}
.timeline .desc {
	width: 50%;
}
.timeline a h3 {
	color: var(--black-80-color);
}
.timeline a:hover h3 {
	color: var(--black-color);
}
.timeline h3 {
	font-size: 0.9em;
	font-weight: 400;
	margin: 0;
}
.timeline h4 {
	margin: 0;
	font-size: 0.7em;
	font-weight: 400;
	color: #808080;
}
.timeline .people img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.timeline .time > * {
	margin: 0 0 0 0;
}
@media (max-width: 768px) {
	.timeline .time,
	.timeline .desc {
		display: block;
		width: 100%;
	}
	.timeline .desc {
		padding-left: 40px;
	}
}
#heatmap {
	display: flex;
	justify-content: center;
	align-items: center;
}
#heatmap rect.day {
	cursor: pointer;
}
#heatmap rect.day[data-value='0'] {
	cursor: default !important;
}
@media (min-width: 1200px) {
	#heatmap .frappe-chart.chart {
		transform: scale(1.22);
	}
}
.tinymce-mobile-mask-tap-icon {
	transform: scale(2);
	animation: infinite 3s ease-in-out pulse;
	box-shadow: 0 0 12px 4px rgba(0,0,0,0.3);
	cursor: pointer;
}
#btn_tools_panel {
	visibility: hidden;
	display: none;
}
.rare-wind-gradient {
	background-image: -webkit-gradient(linear, left bottom, left top, from(#a8edea), to(#fed6e3));
	background-image: -webkit-linear-gradient(bottom, #a8edea 0%, #fed6e3 100%);
	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
#chat-wrapper .avatar {
	width: 120px;
	height: 120px;
	border-radius: 50%;
}
.avatar-latest-comments {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 5px;
}
.avatar-small {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.icon-private-repo {
	position: absolute;
	bottom: 62px;
	right: 5px;
	opacity: 0.7;
	transform: rotate(-30deg);
}
.fade-out {
	animation: 1 1s ease-in fadeOut;
}
#filemanager .fa.fa-folder.fa-5x {
	font-size: 162px;
}
.table-tickets tbody tr:hover td:nth-child(3) a {
	color: #000;
}
.modal-fluid {
	width: 95%;
	max-width: 95%;
}
#gantModal .modal-fluid .modal-header {
	padding-bottom: 15px;
}
#gantModal .close {
	font-size: 22px;
}
#gantModal .modal-body {
	max-height: 78vh;
	overflow: auto;
}
.gant-buttons {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.gant-buttons .btn-floating {
	margin-top: 0;
	margin-bottom: 0;
}
.gantt .bar-label {
	fill: #000;
	font-size: 14px;
	font-weight: normal;
}
.modal-gant-inner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.pos-relative {
	position: relative;
}
.ticket-time-info {
	position: absolute;
	right: 0px;
	top: 0px;
}
.bar-wrapper.primary-color .bar-progress,
.bar-wrapper.primary-color .bar-group .bar-progress {
	fill: #4285f4;
	stroke: #4285f4;
	transition: stroke-width .3s ease;
	user-select: none;
}

.bar-wrapper.primary-color:hover .bar-progress {
	fill: #0d47a1;
	stroke: #0d47a1;
	transition: stroke-width .3s ease;
	user-select: none;
}
.bar-wrapper.success-color .bar-progress {
	fill: #00c851;
	stroke: #00c851;
	transition: stroke-width .3s ease;
	user-select: none;
}
.bar-wrapper.success-color:hover .bar-progress {
	fill: #007e33;
	stroke: #007e33;
	transition: stroke-width .3s ease;
	user-select: none;
}
.bar-wrapper.warning-color .bar-progress {
	fill: #fb3;
	stroke: #fb3;
	transition: stroke-width .3s ease;
	user-select: none;
}
.bar-wrapper.warning-color:hover .bar-progress {
	fill: #f80 !important;
	stroke: #f80 !important;
	stroke-width: 0;
	transition: stroke-width .3s ease;
	user-select: none;
}

.chat-body img {
	max-width: 100%;
	height: auto;
}

.chat-body .header {
	position: relative;
}

.tickets-card-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tickets-filter-buttons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}

.ticket-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
}
.small-comment {
	font-size: 12px !important;
}
.small-comment div p:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
}
.comment-wrap-mobile small {
	margin-left: 6px;
}
.card .card-header h1,
.card .card-header h2,
.card .card-header h3,
.card .card-header h4,
.card .card-header h5,
.card .card-header h6 {
	margin: 0;
}
.card.chat-room .members-panel-1,
.card.chat-room .chat-1 {
	position: relative;
	overflow-y: scroll; }

.card.chat-room .members-panel-1 {
	height: 570px; }

.card.chat-room .chat-1 {
	height: 495px; }

.card.chat-room .friend-list li {
	border-bottom: 1px solid #e0e0e0;
}
.card.chat-room .friend-list li:last-of-type {
	border-bottom: none;
}
.group-permissions {
	height: 300px;
	overflow: auto;
}
.project-card {
	position: relative;
	margin-top: 20px;
}
.project-card .project-check {
	position: absolute;
	top: 10px !important;
	right: 10px !important;
	z-index: 1;
	margin: 0 !important;
}
.project-card .btn-edit {
	position: absolute;
	top: 45px;
	right: 3px;
	z-index: 1;
}
.project-card h4 {
	width: calc(100% - 50px);
	color: #fff;
}
.project-card .description i.fa,
.project-card .description > *,
.project-card .description p,
.project-card .description a,
.project-card .description a:hover {
	color: #fff !important;
}
.project-card .description a {
	text-decoration: underline;
}
.project-card .card-body {
	padding-bottom: 0;
}
.project-card.primary-color {
	background-color: #4285f4 !important;
}
.support-color-preview .preview {
	width: 60px;
	height: 60px;
	border-radius: 5px;
}
.color-preview-15px {
	width: 15px;
	height: 15px;
	border-radius: 50%;
}
#btn-complete-task,
#btn-start-task {
	position: absolute;
	top: -49px;
	right: 4px;
}
.fix-pickers {
	height: 50px;
}
.fix-select {
	height: 150px;
}
.w60px {
	width: 60px;
}
.badge.ticket-info {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
	color: var(--white-color);
}

.badge.round-sm {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ticket-category-color {
	display: block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border-radius: 50%;
}

.btn-floating i.fa.fa-cog,
.btn-floating i.fa.fa-sync,
.btn-floating i.fa.fa-refresh {
	transition: 0.8s all;
}
.btn-floating:hover i.fa.fa-cog,
.btn-floating:hover i.fa.fa-sync,
.btn-floating i.fa.fa-refresh {
	transition: 0.8s all;
	transform: rotate(360deg);
}
.project-card .progress {
	border-radius: 10px;
	box-shadow: 0 0 8px 1px var(--black-30-color);
}
.pagination-circle > .page-item .page-link {
	border-radius: 100% !important;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}
[id^="filter"] .input-group-btn .btn {
	width: 40px !important;
	height: 40px !important;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
#form-filter .btn-pill,
[id^="filter"] .form-group.text-right .btn,
[id^="filter"] .form-group.text-right {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}
#form-filter .btn-pill .fa,
[id^="filter"] .form-group.text-right .btn .fa {
	margin-right: 4px;
}
.control-label.label-small,
.form-group .control-label.label-small {
	font-size: 12px;
}
#form-filter .control-label {
	width: 100%;
}
#btn_gant {
	min-width: 320px !important;
}
@media (min-width: 1000px) {
	#btn_gant {
		min-width: 320px !important;
	}
}
.badge.primary-color,
.default-color {
	background-color: var(--default-color) !important;
}
.success-color {
	background-color: var(--success-color) !important;
}
.badge.round-sm {
	font-size: 14px;
}
.badge.bg-primary {
	color: var(--white-color);
}
.panel .btn-heading-right,
.card .btn-heading-right {
	position: absolute;
	right: 0;
	top: 0;
}
.panel .btn-heading-right.btn-lg,
.card .btn-heading-right.btn-lg {
	position: absolute;
	right: 0;
	top: 4px;
}
.panel .btn-heading-right.btn-md,
.card .btn-heading-right.btn-md {
	position: absolute;
	right: 0;
	top: 10px;
}
.panel .heading-tool-panel,
.card .heading-tool-panel {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 61px;
	position: absolute;
	right: 0;
	top: 0;
	background-color: transparent;
}
@media (max-width: 768px) {
	.navbar .navbar-brand {
		position: absolute;
		left: 80px;
		right: auto;
	}
	.navbar-nav .dropdown-menu {
		position: absolute;
	}
	#column-left {
		z-index: 10;
	}
	#column-left.active + #content, #column-left.active + #content + #footer {
		margin-left: 0;
	}
	#btn_tools_panel {
		display: flex;
		justify-content: center;
		align-items: center;
		visibility: visible;
		position: fixed;
		top: 70px;
		right: 1px;
		z-index: 11;
	}
	.tools-panel.mobile {
		visibility: hidden;
		opacity: 0;
		position: fixed;
		right: 60px;
		top: 70px;
		width: 120px;
		height: auto;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		flex-wrap: wrap;
		z-index: 10;
		animation: 1 0.5s ease-in scaleOutAndRotate;
	}
	.tools-panel.mobile.visible {
		visibility: visible;
		opacity: 1;
		animation: 1 0.5s ease-out scaleInAndRotate;
	}
	.tools-panel.mobile .btn {
		margin: 5px;
	}
	.navbar-brand {
		position: absolute;
		left: 0px;
	}
	#heatmap {
		display: block;
		width: 100%;
		overflow-x: scroll;
		height: 355px;
	}
	#heatmap .frappe-chart.chart {
		position: relative;
		left: 330px;
		top: 50px;
		width: 850px;
		transform: scale(1.9);
	}
	.modal-gant-inner {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	.modal-gant-inner h5.modal-title {
		width: 100%;
		text-align: center;
	}
	.modal-gant-inner .gant-buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100% !important;
	}
	.flex-wrap-mobile {
		flex-wrap: wrap;
	}
	.tickets-card-header {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	.tickets-filter-buttons {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		height: auto;
	}
	.tickets-filter-buttons .btn-floating {
		font-size: 0;
	}
	.ticket-header {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		flex-direction: column-reverse;
	}
	.ticket-header > * {
		width: 100%;
		position: static;
	}
	/* Useful utilities that must moves to Ninja Material Bootstrap */
	.hidden-xs, .hidden-sm {
		display: none;
		visibility: hidden;
	}
	.card.tile {
		margin-top: 40px;
	}
}
.bootstrap-select,
.bootstrap-select select.selectpicker,
.bootstrap-select select.form-control {
	background-image: none !important;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes scaleInAndRotate {
	0% {
		opacity: 0;
		transform: scale(0) rotate(40deg);
		right: -90px;
		top: -40px
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes scaleOutAndRotate {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0) rotate(40deg);
		right: -100px;
		top: -100px
	}
}
@keyframes scaleOutToTop {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0);
		top: -40px;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Move to mmdb*/
.page-item .page-link {
	position: relative;
	background-color: transparent;
}
.page-item .page-link:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	transform: scale(0);
	background-color: var(--black-30-color);
	transition: calc(var(--default-transition-time) / 2) transform;
}
.page-item .page-link:hover:after {
	transform: scale(1);
	transition: calc(var(--default-transition-time) / 2) transform;
}
thead tr.no-padding td,
thead tr td .form-group {
	margin: 0;
	padding: 0;
}

.card.card-filter .card-body .form-group {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}
.hidden {
	display: none;
}
.avatar-block {
	text-align: center;
}
.avatar-block small {
	display: block;
	width: 100%;
	word-break: break-all;
}
.btn-group label.btn {
	margin: 0;
}
.btn-group label.btn input[type=radio] {
	visibility: hidden;
}