<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>{{ title }}</title>
<base href="{{ base }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<script src="view/javascript/mdb/js/jquery-3.3.1.min.js"></script>
<script src="view/javascript/mdb/js/popper.min.js"></script>
<script src="view/javascript/mdb/js/bootstrap.min.js"></script>
<link href="view/javascript/mdb/css/bootstrap.min.css" rel="stylesheet">
<link href="view/javascript/font-awesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="view/javascript/mdb/static/css/mdb.css">
<link rel="stylesheet" href="view/javascript/mdb/css/mdb-admin-00.css">
<link rel="stylesheet" type="text/css" href="view/stylesheet/stylesheet.css" />
</head>
<body>
<img src="view/image/logo.png" alt="Monsters Store 3" title="Monsters Store 3" class="logo">
<img src="view/image/rocket-monsters.png" alt="Monsters Store 3" title="Monsters Store 3" class="rocket">